<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder">MyNotes in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Buralara yaz gunu kar yagiyor canim, olene kadar seni bekleyemem.</p>
        </div>
    </div>
</header>
